<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luanxu.schoolhelper">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <!-- 照相机权限权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.luanxu.application.SchoolHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <!-- 启动页 -->
        <activity android:name="com.luanxu.activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 数据库内容提供者 -->
        <provider
            android:authorities="com.luanxu.cache.CacheProvider"
            android:name="com.luanxu.cache.CacheProvider"
            android:exported="true">
        </provider>

        <activity
            android:name=".ExampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 登录页面 -->
        <activity
            android:name="com.luanxu.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 主页面 -->
        <activity
            android:name="com.luanxu.schoolhelper.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />
        <!-- 相册页面 -->
        <activity
            android:name="com.luanxu.custom.album.MediaPickerActivity"
            android:icon="@mipmap/ic_back"
            android:label="图库"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />
        <!-- 录像页面 -->
        <activity
            android:name="com.luanxu.custom.album.RecordingVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />
        <!-- 图片预览页面 -->
        <activity
            android:name="com.luanxu.activity.ActPreViewIcon"
            android:screenOrientation="portrait"/>

        <!--**********************************************************课表模块**********************************************************************************************-->
        <!-- 修改课表页面 -->
        <activity
            android:name="com.luanxu.activity.syllabus.UpdateSyllabusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!--**********************************************************资讯模块**********************************************************************************************-->
        <!-- 选择频道-->
        <activity
            android:name="com.luanxu.activity.message.ChooseMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!--**********************************************************活动模块**********************************************************************************************-->
        <!-- 校内活动页面 -->
        <activity
            android:name="com.luanxu.activity.community.MovementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 校内活动详情页面 -->
        <activity
            android:name="com.luanxu.activity.community.MovementDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 二维码页面 -->
        <activity
            android:name="com.luanxu.activity.community.MipcaActivityCapture"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 校友圈页面 -->
        <activity
            android:name="com.luanxu.activity.community.SchoolmateCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 校友圈的发送页面 -->
        <activity
            android:name="com.luanxu.activity.community.SchoolmateCircleSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 表白墙页面 -->
        <activity
            android:name="com.luanxu.activity.community.ConfessionWallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 失物招领页面 -->
        <activity
            android:name="com.luanxu.activity.community.LostAndFoundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 失物招领页面 -->
        <activity
            android:name="com.luanxu.activity.community.LostAndFoundSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!--**********************************************************我的模块**********************************************************************************************-->
        <!-- 空教室查询页面页面 -->
        <activity
            android:name="com.luanxu.activity.user.EmptyClassroomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 成绩查询页面 -->
        <activity
            android:name="com.luanxu.activity.user.ScoreInquiryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 成绩查询修改学期学年页面 -->
        <activity
            android:name="com.luanxu.activity.syllabus.SelectYearTermActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 学分页面 -->
        <activity
            android:name="com.luanxu.activity.user.CreditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 个人信息页面 -->
        <activity
            android:name="com.luanxu.activity.user.PersonalDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 设置页面 -->
        <activity
            android:name="com.luanxu.activity.user.SetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 帮助和反馈页面 -->
        <activity
            android:name="com.luanxu.activity.user.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />

        <!-- 修改密码页面 -->
        <activity
            android:name="com.luanxu.activity.ChangePasswardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent" />
    </application>

</manifest>